.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  span {
    margin: 12px;
  }
}

.title {
  font-size: 1.7rem;
}

.description {
  font-size: 1rem;
}
