.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media screen and (max-height: 800px) {
    height: unset;
  }
}

.section {
  border: 1px solid;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  flex-direction: column;

  h1 {
    align-self: center;
  }
}

.divider {
  height: 1px;
  border: none;
  background: #fff;
  margin: 12px;
}
