:root {
  font-family: Roboto, sans-serif;
  color-scheme: light dark;
}

body {
  margin: 0;
}

fieldset {
  border: none;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
